@{
    ViewBag.Title = "About";
}

<main id="main">
    <!-- heading banner -->
    <header class="heading-banner text-white bgCover" style="background-image: url(../../Content/img/tag.jpg);">
        <div class="container holder">
            <div class="align">
                <h1>About Us</h1>
            </div>
        </div>
    </header>
    <!-- breadcrumb nav -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>

            </ol>
        </div>
    </nav>
    <!-- checkout block -->
    <section class="container checkout-block">

        <div class="section nav-subscribe">
            <div class="container">
                <div class="nav-subscribe-wrapper">
                    <div class="nav-subscribe-left"><p class="subscribe-text">Make your <b class="focus">SCHOOL,</b> A Smart School</p></div>
                    <div class="nav-subscribe-right">
                        <button class="btn btn-green btn-bold"><span>JOIN NOW</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!--INTRO EDUGATE-->
        <div class="section intro-edu">
            <div class="container">
                <div class="intro-edu-wrapper">
                    <div class="row">
                        <div class="col-md-5"><img src="/Content/Assest/images/people-avatar-8.png" alt="" class="intro-image fadeInLeft  wow animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
                        <div class="col-md-7">
                            <div class="intro-title">WHAT IS <b>ISKOOLS</b> ?</div>
                            <div class="intro-content">
                                <p>
                                    Iskool is a software that rearrange the life of organization heads and educators with the goal that they can concentrate on the most significant thing: teaching and enlightening our youngsters. We are connecting the computerized gap in training by offering iskool Core as open source and selling premium item and administrations at moderate evaluating.
                                </p>

                                <p>
                                    Iskool is a software programming to oversee schools and universities. It has everything your foundation will ever require. Expenses, Grading, child-parent-teacher educator joint effort, participation and 84+ component rich modules. Computerize everything, produce shrewd reports, settle on better choices.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-padding edu-ab">
            <div class="container">
                <div class="edu-ab">
                    <div class="group-title-index edu-ab-title"><h2 class="center-title">WITH <b>ISKOOLS</b> YOU CAN</h2><h4 class="top-title">Your NO_1 School Manager</h4></div>
                    <div class="edu-ab-content">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <div class="circle-icon"><i class="fa fa-users fa-2x"></i></div>
                                <span>Managing Staff 100%</span>
                            </li>
                            <li>
                                <div class="circle-icon fa-2x"><i class="fa fa-book"></i></div>
                                <span>Computing Results 100%</span>
                            </li>
                            <li>
                                <div class="circle-icon fa-2x"><i class="fa fa-thumbs-up"></i></div>
                                <span>Learn from top expert</span>
                            </li>
                            <li>
                                <div class="circle-icon fa-2x"><i class="fa fa-user"></i></div>
                                <span>Training internal HR</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-padding edu-feature">
            <div class="container">
                <div class="edu-feature-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="group-title-index edu-feature-text">
                                        <h2 class="center-title">Blending Technology and Learning</h2>

                                        <p class="top-title">We are a disseminated group of pioneers, crosswise over Africa, who are enthusiastic about education.</p>
                                        <p>
                                            we make innovative arrangements that encourage learning and streamline school activities accessible to all schools. We consider ourselves to be specialized accomplices to schools, furnishing them with innovation arrangements that help them develop rapidly and gainfully, while improving understudy results. We keep up close working association with accomplice schools to guarantee innovation appropriation is successful and effortless.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-8">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"><img src="@Url.Content("~/Content/Assest/images/iskool_pc.png")" alt="" class="computer-image"></div>
                    </div>
                </div>
            </div>
        </div>


        </section>
    </main>
       