
@{
    ViewBag.Title = "Benefits";
}

<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <!--.page-title-content--><h2 class="captions">benefits</h2>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="#">Benefits</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="section section-padding top-courses">
                    <div class="container">
                        <div class="group-title-index">
                            <h4 class="top-title">DO YOU KNOW?</h4>

                            <h2 class="center-title">The core Benefits of ISKOOLS</h2>

                            <div class="bottom-title"><i class="bottom-icon"></i></div>
                        </div>
                        <div class="top-courses-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="inner-wrap">
                                            <h2>Benefits for Everyone</h2>
                                            <div class="row" style="text-align:left;">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">24/7 web-based access to information by students, employees, management and parents.</li>
                                                        <li class="pilars__list__item">Low Total Cost of Ownership.</li>
                                                        <li class="pilars__list__item">Information Access Anywhere, Anytime, Any device</li>
                                                        <li class="pilars__list__item">Mobile web application available.</li>
                                                        <li class="pilars__list__item">Internal email system.</li>
                                                        <li class="pilars__list__item">Customized and comprehensive on demand report generation facility.</li>
                                                    </ul>
                                                </div><div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Unique ID for all.</li>
                                                        <li class="pilars__list__item">Advanced AI based Attendance System is available.</li>
                                                        <li class="pilars__list__item">Integrated student information system with LMS system.</li>
                                                        <li class="pilars__list__item">Total Operational Automation.</li>
                                                        <li class="pilars__list__item">
                                                            Highly Scalable and Optimized for Customization
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="inner-wrap">
                                            <h2>Benefits for Admin</h2>
                                            <div class="row" style="text-align:left;">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">
                                                            Handling the registration and admissions process.
                                                        </li>
                                                        <li class="pilars__list__item">Automatically creating class &amp; teacher schedules.</li>
                                                        <li class="pilars__list__item">Handling records of examinations, assessments, marks, grades and academic progression.</li>
                                                        <li class="pilars__list__item">Maintaining records of absences and attendance.</li>
                                                        <li class="pilars__list__item">Recording communications with students.</li>
                                                        <li class="pilars__list__item">Maintaining discipline records.</li>
                                                        <li class="pilars__list__item">Automated, quick and on demand report generation.</li>
                                                        <li class="pilars__list__item">Statistical and chart reports, a better analytical view.</li>
                                                        <li class="pilars__list__item">Custom report generation availability.</li>
                                                        <li class="pilars__list__item">Maintenance boarding house details.</li>
                                                        <li class="pilars__list__item">Separate logins for all users including parents.</li>
                                                        <li class="pilars__list__item">Human resource management services.</li>
                                                    </ul>
                                                </div><div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Accounting services facility also available.</li>
                                                        <li class="pilars__list__item">Centralised data repository for trouble-free data access.</li>
                                                        <li class="pilars__list__item">Authenticated proﬁle dependent access to data.</li>
                                                        <li class="pilars__list__item">User friendly interface and highly powerful user experienced design such that anyone with basic knowledge in computer can start using the system with minimum training.</li>
                                                        <li class="pilars__list__item">Collaborate with students and other users via text, audio and/or video at anytime</li>
                                                        <li class="pilars__list__item">Elimination of people-dependent processes.</li>
                                                        <li class="pilars__list__item">Transportation management system.</li>
                                                        <li class="pilars__list__item">Event and News management system.</li>
                                                        <li class="pilars__list__item">Inventory management system.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="inner-wrap">
                                            <h2>Benefits for Management</h2>
                                            <div class="row" style="text-align:left;">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Effective communication between administrators, teachers, students and parents.</li>
                                                        <li class="pilars__list__item">Creation of College’s tech savvy image</li>
                                                        <li class="pilars__list__item">Complete automation of all operations</li>
                                                        <li class="pilars__list__item">Centrally stored information with zero redundancy</li>
                                                        <li class="pilars__list__item">Maintaining discipline records.</li>
                                                    </ul>
                                                </div><div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Best possible resource optimization</li>
                                                        <li class="pilars__list__item">Cost-effective one point solution for total school management</li>
                                                        <li class="pilars__list__item">High level data security</li>
                                                        <li class="pilars__list__item">Collaborate with students and other users via text, audio and/or video at anytime</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="inner-wrap">
                                            <h2>Benefits for Teachers</h2>
                                            <div class="row" style="text-align:left;">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Automated student attendance</li>
                                                        <li class="pilars__list__item">Automatically creating class &amp; teacher schedules.</li>
                                                        <li class="pilars__list__item">Computerised management of marks and grades</li>
                                                        <li class="pilars__list__item">Timetable creation in advance</li>
                                                        <li class="pilars__list__item">Upload and download notes / assignments for students</li>
                                                        <li class="pilars__list__item">Availability of more time for students</li>
                                                        <li class="pilars__list__item">Efﬁcient and effective interaction with students – Access to a forum common to students and parents</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Better organization of school activities</li>
                                                        <li class="pilars__list__item">Discussions can be done even outside school</li>
                                                        <li class="pilars__list__item">Collaborate with students and other users via text, audio and/or video at anytime</li>
                                                        <li class="pilars__list__item">Distance education facility available</li>
                                                        <li class="pilars__list__item">Online exams services</li>
                                                        <li class="pilars__list__item">Poll management system available</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="inner-wrap">
                                            <h2>Benefits for Students</h2>
                                            <div class="row" style="text-align:left;">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Enhanced interaction with teachers</li>
                                                        <li class="pilars__list__item">Online submission of notes / assignments</li>
                                                        <li class="pilars__list__item">Access to attendance, timetable, marks, grades and examination schedule</li>
                                                        <li class="pilars__list__item">Freedom to browse through library books catalogue and identify the book(s) to be issued</li>
                                                    </ul>
                                                </div><div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Prior information about school events, news and holidays</li>
                                                        <li class="pilars__list__item">Student Blogging services</li>
                                                        <li class="pilars__list__item">Online exams services</li>
                                                        <li class="pilars__list__item">Collaborate with students and other users via text, audio and/or video at anytime</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="inner-wrap">
                                            <h2>Benefits for Parents</h2>
                                            <div class="row" style="text-align:left;">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Access to children and school information anytime anywhere</li>
                                                        <li class="pilars__list__item">Enhanced interaction with teachers, management and others</li>
                                                        <li class="pilars__list__item">Access to children attendance, timetable, marks, grades and examination schedule</li>
                                                    </ul>
                                                </div><div class="col-md-6">
                                                    <ul>
                                                        <li class="pilars__list__item">Prior information about school events, news and holidays</li>
                                                        <li class="pilars__list__item">
                                                            Collaborate with students and other users via text, audio and/or video at anytime
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>