
@{
    ViewBag.Title = "Faqs";
}

<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <!--.page-title-content--><h2 class="captions">faq</h2>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="#">FAQs</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="section section-padding">
                    <div class="container">
                        <div class="group-title-index">
                            <h4 class="top-title">Answer all of your questions</h4>

                            <h2 class="center-title">FREQUENTLY ASKED QUESTIONS</h2>

                            <div class="bottom-title"><i class="bottom-icon icon-icon-05"></i></div>
                        </div>
                        <div class="accordion-faq">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="accordion-1" class="panel-group accordion">
                                        <div class="panel active">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="false" class="accordion-toggle collapsed">

                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-1-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

