
@{
    ViewBag.Title = "Features";
}

<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <!--.page-title-content--><h2 class="captions">features</h2>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="#">Features</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="section section-padding top-courses">
                    <div class="container">
                        <div class="group-title-index">
                            <h4 class="top-title">DO YOU KNOW?</h4>

                            <h2 class="center-title">The Features of School Management System</h2>

                            <div class="bottom-title"><i class="bottom-icon"></i></div>
                        </div>
                        <div class="top-courses-wrapper">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Student Information
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Get easy access to student particulars, their grades, schedules, address, parents info, disciplinary records, extra-curricular activities, and any reports, anytime.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Teacher Information
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Track your teacher's particulars, residential addresses and other data. QuickSchools.com is always online so your teachers can access their schedule anytime.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Parent Access
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Parents can log in and view their children's information anytime through the Parent Portal. Parents can keep track of their child's attendance, workload and progress!

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Attendance
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Track daily attendance by homeroom, period or subject. Easy to use interface to check off your students.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Gradebook
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Customized to suit your needs with one personal online gradebook for each teacher. The online gradebook feature enables teachers to enter grades frequently.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Report Card

                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Report cards are fully customizable - you get to have your own grading criteria, grading flow, report card format. You can print beautiful report cards and transcripts.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Transcripts

                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        You can create beautiful transcripts quickly and efficiently and never worry about losing them ever. It will always be safe in QuickSchools.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Homework

                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        You can create homework assignments in seconds and share them instantly with your students.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        School Schedule
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        You can generate the school's schedules easily. You can view schedules by student, teacher or class. You can view and print a PDF version of the schedule.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Admissions
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        Manage enquiries to your school all in one place. Move enquiries to applications stage seamlessly right through the time to successfully enroll the student into the right class.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Fee Tracking and Online Payments
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        A simple and straightforward fee tracking module that helps you track fees effectively.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Email Text and Bulk Messaging
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        No school today? Have a message you need to communicate urgently? Send out text and recorded voice messages to parents anytime.

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Mobile App
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        0000 0000000 00000000 0000 00000  000000 0000000 0000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 0000000
                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Batch Printing
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        0000 0000000 00000000 0000 00000  000000 0000000 0000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 0000000

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Scratch Card
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        0000 0000000 00000000 0000 00000  000000 0000000 0000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 0000000

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <!-- feature-->

                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Finance
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        0000 0000000 00000000 0000 00000  000000 0000000 0000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 0000000

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->

                                <div class="col-md-4">
                                    <div class="top-courses-item">
                                        <div class="edugate-layout-2">
                                            <div class="edugate-layout-2-wrapper">
                                                <div class="edugate-content">
                                                    <a href="courses-detail.html" class="title">
                                                        Event Management
                                                    </a>


                                                    <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                    <div class="description">
                                                        0000 0000000 00000000 0000 00000  000000 0000000 0000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 00000000000 0000000 00000000 0000 00000  000000 0000000

                                                    </div>
                                                    <a class="btn btn-green"><span>Know More</span></a>
                                                </div>
                                                <div class="edugate-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- feature-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

