@{
    ViewBag.Title = "Home Page";
}

<main id="main">
    <!-- intro block -->
    <div class="">
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/default/default.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="~/Content/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/dark/dark.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/demo/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/iskools/skool.css" type="text/css" media="screen" />
        <link href="~/Content/iskools/styleguide.css" rel="stylesheet" />
        <link href="~/Content/iskools/style.css" rel="stylesheet" />
        <section class="slider-container">
            <div class="slider-wrapper theme-default" style="width:99% !important;">

                <div id="slider" class="nivoSlider" style="margin-bottom:0px;">


                    @Html.Action("_Slider", "Iskools")

                </div>

            </div>
        </section>

        <style>
            .mobile-d .features-aside .col {
                padding: 12px 7px;
            }

            .mobile-d .features-aside .icn-wrap {
                margin-right: 15px;
                width: 30px;
            }

            .mobile-d .features-aside .features-aside-heading {
                font-size: 15px;
                line-height: 1.0;
            }
        </style>
    </div>

     
         
            <div class="logobar">
                <div class="logos-wrapper">
                    <div class="logos">
                        <div class="we-ve-built">We&#39;ve built solutions for...</div>
                        <img class="client-logo" src="img/client-logo.svg" />
                        <img class="img" src="img/client-logo-1.svg" />
                        <img class="client-logo-2" src="img/client-logo-2.svg" />
                        <img class="client-logo-3" src="img/client-logo-3.svg" />
                        <img class="client-logo-4" src="img/client-logo-4.svg" />
                        <img class="client-logo-5" src="img/client-logo-5.svg" />
                    </div>
                </div>
            </div>
            <div class="div-2 row">
                <div class="frame-7 ">
                <p class="text-wrapper-9">Our solution offers services that includes</p></div>
                <div class="div-3 row">
                    <div class="col-md-3">
                        <div class="card">
                            <img class="circle-sec" src="img/circle-sec.svg" />
                            <div class="feature-title-sec">Efficient Administration</div>
                            <div class="fixed-width-fixed"></div>
                            <p class="paragraph-feature">
                                Lorem ipsum dolor sit amet consectetur. Sed maecenas sed fermentum egestas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="circle-sec" src="img/circle-sec-1.svg" />
                            <div class="feature-title-sec">Improved Communication</div>
                            <div class="fixed-width-fixed"></div>
                            <p class="paragraph-feature-2">
                                Lorem ipsum dolor sit amet consectetur. Nunc auctor sed elit proin morbi ultrices lectus.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="element-wrapper"><img class="element" src="img/6204767851579780453-1.svg" /></div>
                            <div class="h-feature-title-sec">Academic Performance Tracking</div>
                            <div class="fixed-width-fixed"></div>
                            <p class="paragraph-feature-3">
                                Lorem ipsum dolor sit amet consectetur. Duis viverra vitae laoreet vel at congue. Est in.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="circle-sec" src="img/circle-sec-2.svg" />
                            <div class="feature-title-sec">Parents-Teacher Interactions</div>
                            <div class="fixed-width-fixed"></div>
                            <p class="paragraph-feature-4">
                                Lorem ipsum dolor sit amet consectetur. Sed ullamcorper elit vel justo amet. Justo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="frame-8"><div class="text-wrapper-10">Learn more</div></div>
            </div>
            <div class="div-4">
                <div class="frame-7">
                    <div class="text-wrapper-9">System Overview</div>
                    <p class="text-wrapper-11">A comprehensive guide of a school management system.</p>
                </div>
                <div class="frame-9">
                    <div class="group">
                        <div class="overlap-group">
                            <img class="element-2" src="img/element.png" />
                            <img class="detailed-seo" src="img/detailed-seo-analysis-opportunity-1.png" />
                        </div>
                    </div>
                    <div class="div-5">
                        <div class="text-wrapper-12">School Management System(ISKOOL-SMS)</div>
                        <div class="div-3">
                            <img class="group-2" src="img/group-8.png" />
                            <p class="text-wrapper-13">
                                The School Management System (ISKOOL-SMS) website is a comprehensive digital platform designed to
                                streamline and enhance various administrative and academic processes within educational institutions.
                            </p>
                        </div>
                        <div class="div-3">
                            <img class="group-2" src="img/group-8-1.png" />
                            <p class="text-wrapper-14">
                                It serves as a centralized hub for managing student data, faculty information, attendance, grades,
                                communication, and other essential tasks. The system aims to simplify the day-to-day operations of
                                schools, colleges, and universities, ultimately improving efficiency and communication among
                                stakeholders.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-2">
                <div class="frame-7">
                    <div class="text-wrapper-9">System Features</div>
                    <p class="text-wrapper-15">
                        The ISKOOL School Management System website is a valuable tool that streamlines school operations, improves
                        communication, and enhances overall efficiency in managing educational institutions. It empowers
                        administrators, teachers, students, and parents with user-friendly features and benefits, creating a more
                        organized and effective learning environment.
                    </p>
                </div>
                <div class="div-5">
                    <div class="frame-10">
                        <div class="element-3">
                            <div class="text">
                                <p class="duis-aute-irure-dolo">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features">Fee Management</div>
                            </div>
                            <div class="shapes-wrapper"><img class="shapes" src="img/shapes-3.png" /></div>
                        </div>
                        <div class="element-4">
                            <div class="text-2">
                                <p class="duis-aute-irure-dolo-2">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-2">Student Information Management</div>
                            </div>
                            <div class="shapes-wrapper">
                                <div class="overlap-group-wrapper">
                                    <div class="overlap-group-2">
                                        <img class="path" src="img/path-7.svg" />
                                        <img class="path-2" src="img/path-7.svg" />
                                        <img class="path-3" src="img/path-8.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-3">
                            <div class="text">
                                <p class="duis-aute-irure-dolo">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-3">Attendance Tracking</div>
                            </div>
                            <div class="shapes-wrapper">
                                <div class="shapes-2">
                                    <div class="overlap-group-3">
                                        <div class="oval"></div>
                                        <img class="path-4" src="img/path-9.svg" />
                                        <img class="path-5" src="img/path-10.svg" />
                                        <div class="oval-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-10">
                        <div class="element-3">
                            <div class="text">
                                <p class="duis-aute-irure-dolo">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-4">Announcement &amp; Notification</div>
                            </div>
                            <div class="shapes-wrapper"><img class="shapes-3" src="img/shapes-1.png" /></div>
                        </div>
                        <div class="element-4">
                            <div class="text-2">
                                <p class="duis-aute-irure-dolo-2">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-5">Assignment Submission</div>
                            </div>
                            <div class="icon-2">
                                <div class="shapes-4">
                                    <div class="overlap-group-4">
                                        <img class="path-6" src="img/path-5.svg" />
                                        <div class="rectangle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-3">
                            <div class="text">
                                <p class="duis-aute-irure-dolo">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-3">Report Card Generation</div>
                            </div>
                            <div class="shapes-wrapper"><img class="shapes-5" src="img/shapes-2.png" /></div>
                        </div>
                    </div>
                    <div class="frame-10">
                        <div class="element-3">
                            <div class="text">
                                <p class="duis-aute-irure-dolo">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features">Library Management</div>
                            </div>
                            <div class="shapes-wrapper"><img class="shapes" src="img/shapes-3.png" /></div>
                        </div>
                        <div class="element-4">
                            <div class="text-2">
                                <p class="duis-aute-irure-dolo-2">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-2">Event/Activity Planning</div>
                            </div>
                            <div class="shapes-wrapper">
                                <div class="overlap-group-wrapper">
                                    <div class="overlap-group-2">
                                        <img class="path" src="img/path-7.svg" />
                                        <img class="path-2" src="img/path-7.svg" />
                                        <img class="path-3" src="img/path-8.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-3">
                            <div class="text">
                                <p class="duis-aute-irure-dolo">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.
                                </p>
                                <div class="instant-features-3">Transportation Management</div>
                            </div>
                            <div class="shapes-wrapper">
                                <div class="shapes-2">
                                    <div class="overlap-group-3">
                                        <div class="oval"></div>
                                        <img class="path-4" src="img/path-9.svg" />
                                        <img class="path-5" src="img/path-10.svg" />
                                        <div class="oval-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-4">
                <div class="frame-7">
                    <p class="text-wrapper-9">What our customers are saying!</p>
                    <p class="text-wrapper-11">A comprehensive guide of a school management system.</p>
                </div>
                <div class="testimony">
                    <div class="group-3">
                        <div class="overlap-group-5">
                            <div class="text-wrapper-16">Peter Onwuka</div>
                            <div class="group-4">
                                <div class="mask-group-wrapper"><img class="mask-group" src="img/mask-group.png" /></div>
                                <p class="text-wrapper-17">
                                    “The ISKOOL School Management System has been able to help my school be more efficient in tracking
                                    students records and taking note of adequate student information and data”
                                </p>
                                <div class="text-wrapper-18">Vice Principal</div>
                            </div>
                        </div>
                    </div>
                    <div class="arrow-nav">
                        <img class="frame-11" src="img/frame.svg" />
                        <img class="frame-12" src="img/frame-1.svg" />
                        <div class="slider">
                            <div class="ellipse"></div>
                            <div class="ellipse-2"></div>
                            <div class="ellipse-3"></div>
                            <div class="ellipse-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-us">
                <div class="frame-7">
                    <div class="text-wrapper-19">Contact Us</div>
                    <p class="text-wrapper-20">Contact us to set up your school management system.</p>
                </div>
                <div class="group-5">
                    <input class="input-form-control" placeholder="Full Name *" type="text" />
                    <input class="email" placeholder="Phone Number *" type="tel" />
                    <input class="email-wrapper" placeholder="School Name *" type="text" />
                    <div class="input-form-control-2"><div class="text-wrapper-21">Email *</div></div>
                    <div class="form-control"><div class="text-wrapper-22">Message</div></div>
                    <div class="option">
                        <div class="dropdown">School Current Size</div>
                        <img class="vector" src="img/vector.svg" />
                    </div>
                    <div class="group-6">
                        <p class="dropdown-2">Email me marketing news and tips</p>
                        <img class="bxs-check-square" src="img/bxs-check-square.svg" />
                    </div>
                    <div class="frame-13"><div class="text-wrapper-23">Send</div></div>
                </div>
            </div>
            <footer class="footer">
                <div class="copyright">
                    <p class="text-wrapper-24">Copyright © 2024 ISKOOL by Juray</p>
                    <p class="text-wrapper-24">Design By Juray Smart Solutions Ltd</p>
                </div>
                <img class="line" src="img/line-7.svg" />
                <div class="menu">
                    <div class="text-wrapper-25">Help</div>
                    <div class="div-5">
                        <div class="text-wrapper-24">Customer Support</div>
                        <div class="text-wrapper-26">Terms &amp; Conditions</div>
                        <div class="text-wrapper-26">Privacy Policy</div>
                    </div>
                </div>
                <div class="menu-2">
                    <div class="text-wrapper-25">Resources</div>
                    <div class="navigation">
                        <div class="text-wrapper-24">Comunity</div>
                        <div class="text-wrapper-26">Request Demo</div>
                        <div class="text-wrapper-27">Documentation</div>
                        <div class="text-wrapper-26">Certification</div>
                        <div class="text-wrapper-26">Scholarships</div>
                    </div>
                </div>
                <div class="menu-3">
                    <div class="text-wrapper-25">Company</div>
                    <div class="div-5">
                        <div class="text-wrapper-24">Home</div>
                        <div class="text-wrapper-26">About us</div>
                        <div class="text-wrapper-26">Services</div>
                        <div class="text-wrapper-26">Features</div>
                        <div class="text-wrapper-26">Career</div>
                        <div class="text-wrapper-26">Contact Us</div>
                    </div>
                </div>
                <div class="card-2">
                    <img class="icon" src="img/icon123-1-1.png" />
                    <p class="text-3">
                        Faucibus quis fringilla scelerisque dui. Amet parturient dui venenatis amet sagittis viverra vel tincidunt.
                        Orci tincidunt.
                    </p>
                    <button class="button">
                        <img class="message-circle" src="img/message-circle.svg" />
                        <div class="text-wrapper-28">Start Live Chat</div>
                    </button>
                </div>
            </footer>
        








    <!--@@if (Request.Browser.IsMobileDevice == true)
    {
        <div class="mobile-d container" style="margin-top:7px;">-->
    <!-- features aside -->
    <!--<aside class="features-aside">
                <a href="http://iskools.com.ng/tutor/AskQuestion" class="col">
                    <span class="icn-wrap text-center no-shrink">
                        <i class="fa fa-question" style="font-size:50px;"></i>
                    </span>
                    <div class="description">
                        <h2 class="features-aside-heading">Efficient Administration  </h2>
                    </div>
                </a>
                <a href="#" class="col">
                    <span class="icn-wrap text-center no-shrink">
                        <img src="~/Content/iskool/icon02.svg" width="43" height="39" alt="computer">
                    </span>
                    <div class="description">
                        <h2 class="features-aside-heading">Improved Communication</h2>
                    </div>
                </a>
                <a href="#" class="col">
                    <span class="icn-wrap text-center no-shrink">
                        <img src="~/Content/iskool/icon03.svg" width="43" height="39" alt="computer">
                    </span>
                    <div class="description">
                        <h2 class="features-aside-heading">Academic Perfomance Tracking</h2>
                    </div>
                </a>
                <a href="#" class="col">
                    <span class="icn-wrap text-center no-shrink">
                        <img src="~/Content/iskool/icon02.svg" width="43" height="39" alt="computer">

                    </span>
                    <div class="description">
                        <h2 class="features-aside-heading">Parents- Teacher Interaction</h2>
                    </div>
                </a>
            </aside>
        </div>

    }
    else
    {

        <div class="container" style="margin-top:7px;">-->
    <!-- features aside -->
    <!--<aside class="features-aside">
                    <a href="http://iskools.com.ng/tutor/AskQuestion" class="col">
                        <span class="icn-wrap text-center no-shrink">
                            <i class="fa fa-question" style="font-size:50px;"></i>
                        </span>
                        <div class="description">
                            <h2 class="features-aside-heading">Efficient Administration </h2>
                        </div>
                    </a>
                    <a href="# class="col">
                        <span class="icn-wrap text-center no-shrink">
                            <img src="~/Content/iskool/icon02.svg" width="43" height="39" alt="computer">
                        </span>
                        <div class="description">
                            <h2 class="features-aside-heading">Improved Communication</h2>
                        </div>
                    </a>
                    <a href="#" class="col">
                        <span class="icn-wrap text-center no-shrink">
                            <img src="~/Content/iskool/icon03.svg" width="43" height="39" alt="computer">
                        </span>
                        <div class="description">
                            <h2 class="features-aside-heading">Academic Perfomance Tracking</h2>
                        </div>
                    </a>
                    <a href="#" class="col">
                        <span class="icn-wrap text-center no-shrink">
                            <img src="~/Content/iskool/icon02.svg" width="43" height="39" alt="computer">

                        </span>
                        <div class="description">
                            <h2 class="features-aside-heading">Parents- Teacher Interaction</h2>
                        </div>
                    </a>
                </aside>
            </div>
        }
    </div>
    <section class="container how-work-block text-center">
        <header class="seperator-head">
            <h2>How Our Classes Work</h2>
            <p>Share your work to collaboratve with our vibrant design element.</p>
        </header>
    </section>

    <aside class="bg-gray courses-column-aside">
        <div class="container">
            <div class="row holder">
                <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="far fa-bell icn element-block"></i>
            <h3><a href="#">ONLINE COURSES</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-book icn element-block"></i>
            <h3><a href="#">BOOKS &amp; LIBRARY</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="far fa-address-card icn element-block"></i>
            <h3><a href="#">GREAT TEACHERS</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
                        <i class="fas fa-trophy icn element-block"></i>
                        <h3><a href="#">CERTIFICATION</a></h3>
                        <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <style>
        .descr-column {
            padding: 50px;
            margin-bottom: 30px;
            color: #888;
            font-size: 14px;
            line-height: 1.57143;
            background-color: #337ab7;
            border-radius: 10px;
        }
        .how-work-block .seperator-head {
            margin-bottom: 15px;
        }
        .how-work-block {
            padding-top: 30px;
            padding-bottom: 6px;

        }
        .courses-column-aside {
            padding-top: 15px;
            padding-bottom: 8px;
        }
        .descr-column p {
            margin: 0;
            color: white;
        }
        h3 a {
            color: black;
        }
        .fas {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }
    </style>


    <article class="container text-info-block">
        <section class="container how-work-block text-center">
            <header class="seperator-head">
                <h2>How Our Classes Work</h2>
                <p>Share your work to collaboratve with our vibrant design element.</p>
            </header>
        </section>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="~/Content/img/img56.jpg" class="element-block image" alt="image description">
            </div>
            <div class="col-xs-12 col-sm-6">
                <h1>Before we get ahead of ourselves, we want to welcome you to here.</h1>
                <p>Fusce eleifend donec sapien sed phase lusa. Pellentesque lacus vamus lorem arcu semper duiacCras ornare arcu avamus nda leo.  </p>
                <ul class="list-unstyled listDefault">
                    <li>Thomas Edison may have been behind the invention.</li>
                    <li>Edison worked alongside partners, both financial and commercial, to get his best inventions off the ground,</li>

                </ul>
            </div>
        </div>
    </article>
    <style>
        .text-info-block {
            padding-top: 0px;
            padding-bottom: 70px;
        }


    </style>

    <aside class="bg-gray courses-column-aside">
        <div class="container">
            <div class="row holder">
                <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="far fa-bell icn element-block"></i>
            <h3><a href="#">ONLINE COURSES</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-book icn element-block"></i>
            <h3><a href="#">BOOKS &amp; LIBRARY</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="far fa-address-card icn element-block"></i>
            <h3><a href="#">GREAT TEACHERS</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-trophy icn element-block"></i>
            <h3><a href="#">CERTIFICATION</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-trophy icn element-block"></i>
            <h3><a href="#">CERTIFICATION</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-book icn element-block"></i>
            <h3><a href="#">BOOKS &amp; LIBRARY</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="far fa-address-card icn element-block"></i>
            <h3><a href="#">GREAT TEACHERS</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-trophy icn element-block"></i>
            <h3><a href="#">CERTIFICATION</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-book icn element-block"></i>
            <h3><a href="#">BOOKS &amp; LIBRARY</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="far fa-address-card icn element-block"></i>
            <h3><a href="#">GREAT TEACHERS</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
            <i class="fas fa-trophy icn element-block"></i>
            <h3><a href="#">CERTIFICATION</a></h3>
            <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">-->
    <!-- descr column -->
    <!--<div class="descr-column text-center">
                        <i class="fas fa-trophy icn element-block"></i>
                        <h3><a href="#">CERTIFICATION</a></h3>
                        <p>Whether you stay with one week one year, we will make sure you have the time of your life.</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <style>
        .owl-nav button {
            position: absolute;
            top: 50%;
            background-color: #000;
            color: #fff;
            margin: 0;
            transition: all 0.3s ease-in-out;
        }

            .owl-nav button.owl-prev {
                left: 0;
            }

            .owl-nav button.owl-next {
                right: 0;
            }

        .owl-dots {
            text-align: center;
            padding-top: 15px;
        }

            .owl-dots button.owl-dot {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                background: #ccc;
                margin: 0 3px;
            }

                .owl-dots button.owl-dot.active {
                    background-color: #000;
                }

                .owl-dots button.owl-dot:focus {
                    outline: none;
                }

        .owl-nav button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.38) !important;
        }


        button span {
            font-size: 40px;
            font-weight: 900;
            position: relative;
            color: #336adb;
            top: -70px;
        }

        .owl-nav button:focus {
            outline: none;
        }

        .owl-dots {
            padding-top: 0px;
            margin-top: 4px;
        }

            .owl-dots button.owl-dot {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                display: inline-block;
                background: #336adb;
                margin: 0 3px;
            }
    </style>

    <section class="testimonials-block text-center bg-gray" style="background-image: url('../../Content/main-iskool/bg-pattern01.png');">
        >
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2>What People Say</h2>-->
    <!-- testimonail slider -->
    <!--<div class="slick-slider slider testimonail-slider slick-initialized">
        <a href="#" class="slick-prev fas fa-chevron-left slick-arrow" style="display: flex;"><span class="sr-only">Previous</span></a>
        <div class="slick-list draggable" style="height: 207px;">
            <div class="slick-track" style="opacity: 1; width: 3220px;">
                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 805px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">-->
    <!-- testimonial quote -->
    <!--<blockquote class="testimonial-quote font-roboto">
            <p>“ Trent from punchy rollie grab us a waggin school. Flat out like a bludger where he hasn't got a damper. As stands out like brass razoo heaps it'll be relo. As busy as a paddock.”</p>
            <cite class="element-block font-lato">
                <span class="avatar rounded-circle element-block">
                    <img class="rounded-circle" src="~/Content/img/img16.jpg" alt="Nethor Doct -Developer">
                </span>
                <strong class="element-block h5 h">Nethor Doct -<span class="text-gray">Developer</span></strong>
            </cite>
        </blockquote>
    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 805px; position: relative; left: -805px; top: 0px; z-index: 998; opacity: 0;">-->
    <!-- testimonial quote -->
    <!--<blockquote class="testimonial-quote font-roboto">
            <p>“ Trent from punchy rollie grab us a waggin school. Flat out like a bludger where he hasn't got a damper. As stands out like brass razoo heaps it'll be relo. As busy as a paddock.”</p>
            <cite class="element-block font-lato">
                <span class="avatar rounded-circle element-block">
                    <img class="rounded-circle" src="~/Content/img/img16.jpg" alt="Nethor Doct -Developer">
                </span>
                <strong class="element-block h5 h">Nethor Doct -<span class="text-gray">Developer</span></strong>
            </cite>
        </blockquote>
    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 805px; position: relative; left: -1610px; top: 0px; z-index: 998; opacity: 0;">-->
    <!-- testimonial quote -->
    <!--<blockquote class="testimonial-quote font-roboto">
            <p>“ Trent from punchy rollie grab us a waggin school. Flat out like a bludger where he hasn't got a damper. As stands out like brass razoo heaps it'll be relo. As busy as a paddock.”</p>
            <cite class="element-block font-lato">
                <span class="avatar rounded-circle element-block">
                    <img class="rounded-circle" src="~/Content/img/img16.jpg" alt="Nethor Doct -Developer">
                </span>
                <strong class="element-block h5 h">Nethor Doct -<span class="text-gray">Developer</span></strong>
            </cite>
        </blockquote>
    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 805px; position: relative; left: -2415px; top: 0px; z-index: 998; opacity: 0;">-->
    <!-- testimonial quote -->
    <!--<blockquote class="testimonial-quote font-roboto">
                                        <p>“ Trent from punchy rollie grab us a waggin school. Flat out like a bludger where he hasn't got a damper. As stands out like brass razoo heaps it'll be relo. As busy as a paddock.”</p>
                                        <cite class="element-block font-lato">
                                            <span class="avatar rounded-circle element-block">
                                                <img class="rounded-circle" src="~/Content/img/img16.jpg" alt="Nethor Doct -Developer">
                                            </span>
                                            <strong class="element-block h5 h">Nethor Doct -<span class="text-gray">Developer</span></strong>
                                        </cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>



                        <a href="#" class="slick-next fas fa-chevron-right slick-arrow" style="display: flex;"><span class="sr-only">Next</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- popular posts block -->
    @*@Html.Action("_Topics", "Tutor")*@
    <!-- counter aside -->
    @*<aside class="bg-cover counter-aside" style="background-image: url('');">

            <a href="#">
                <img src="~/Content/img/windata.jpg" class="img-responsive" style="width:100% !important;" />
            </a>
        </aside>*@


    <!-- upcoming events block -->
    @*@Html.Action("_Events", "Tutor")*@

    @*<section class="testimonials-block text-center bg-gray" style="background-image: url('../../Content/main-iskool/bg-pattern01.png');">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <h2>What People Say</h2>


                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>


                            <div class="carousel-inner">
                                <div class="item active">
                                    <h5 class="text-center">The iskool school management system has been able to help my school be more efficient in tracking students records  </h5>
                                </div>

                                <div class="item">
                                    <h5 class="text-center">Since implementing the school management system, our administrative burden has significantly lightened. </h5>
                                </div>

                                <div class="item">
                                    <h5 class="text-center">
                                        Switching to the school management system has been a revelation for us. Our administrative processes are now seamless. It's a game-changer!

                                    </h5>
                                    <cite class="element-block font-lato">
                                        <span class="avatar rounded-circle element-block">
                                            <img class="rounded-circle" src="~/Content/img/img16.jpg" alt="Nethor Doct -Developer">
                                        </span>
                                        <strong class="element-block h5 h">Nethor Doct -<span class="text-gray">Developer</span></strong>
                                    </cite>
                                </div>
                            </div>

                            Left and right controls
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>*@
    <!-- news block
    <!-- subscription aside block -->

</main>
