
@{
    ViewBag.Title = "Volunteer";
}

    <main id="main">
        <!-- heading banner -->
        <header class="heading-banner text-white bgCover" style="background-image: url(../../Content/img/tag.jpg);background-repeat:no-repeat;">
            <div class="container holder">
                <div class="align" style="padding-top:75px;">
                    <h1 class="text-center" style="text-align:center !important;">Be a Volunteer</h1>
                </div>
            </div>
        </header>
        <!-- breadcrumb nav -->
        <nav class="breadcrumb-nav">
            <div class="container">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Volunteer</a></li>

                </ol>
            </div>
        </nav>
        <!-- checkout block -->
        <section class="container">

            <div class="section nav-subscribe">
                <div class="container">
                    <div id="main-column" class="column  is-full is-four-fifths-desktop ">

                        <main id="main" role="main" class="content " data-bi-name="content" lang="en-us" dir="ltr">



                            <h1>Welcome to Iskools Volunteers/Teachers Registration Guide.</h1>

                           

                            <p>Welcome to <a href="http://iskools.com">iskools.com</a>! We have migrated the physical learning to online learning from our website.</p>
                            <p>In the early 2020, when the pandemic started, we found out that the education system will be affected due to social distancing, we now set out to develop a modern and scalable educational website. 
                            We've also realized that both the rich and the poor need to keep learning irrespective of the social distancing. so we've started the process of accessing alots of videos tuitorial of various topics and also videos from experienced volunteers. As vast majority of the content are upgraded, you'll see some changes on the sites that will help you discover the right content on <a href="http://iskools.com">Iskools.com</a>.</p>
                            <p>You can learn more about us in our <a href="http://iskools.com/Iskools/About">About Us Page</a>.</p>
                            <h2>Start exploring your expereince as a teacher or a volunteer</h2>
                            <p>There are so many things we're exciting for you on our site! Get started with the following:</p>
                            <ul>

                                <li><a href="http://iskools.com/Auth/CreateAccount" data-linktype="external">Create an Account</a></li>
                                <li><a href="http://iskools.com/Dashboard/Account" data-linktype="external">Live Update from NCDC on COVID-19 </a></li>
                                <li><a href="http://iskools.com/Dashboard/Account/Profile" data-linktype="external">Update your profile.</a></li>
                                <li><a href="http://iskools.com/Dashboard/Account/MyCV" data-linktype="external">With a complete profile, your CV will automatically be creates and ready for preview and share via whatsapp or other social networks</a></li>
                                <li><a href="http://iskools.com/Dashboard/Account/MyVideos" data-linktype="external">Upload your Video tuitorial of lectures on various topics and experience as a student and also motivational videos to encourage the young ones that its not yet over.</a></li>
                                <li><a href="http://iskools.com/Games/Initializer/Play/6?title=Chu%20Choo%20Cake" data-linktype="external">Online games to keep the mind active</a></li>
                                <li><a href="http://iskools.com/Simulations/Initializer/Play/1?title=Projectile%20Motion" data-linktype="external">Simulations to aid children in their science practicals</a></li>
                                <li><a href="http://iskools.com/ELibrary/Ebooks/Details/3?title=Accounting%20student%20learning" data-linktype="external">E-library too, to provide students and pupils with some books to read.</a></li>
                            </ul>
                            <p>And more!</p>
                            <div class="nextstepaction">
                                <p><a href="http://iskools.com/Auth/CreateAccount" data-linktype="external" class="button is-primary has-text-wrap">Create Account Now to start making a difference</a></p>
                            </div>
                        
    <!-- </content> -->

                        </main>

                     
                    </div>
                    
                </div>
                </div>
        

        </section>
    </main>