
@{
    ViewBag.Title = "BankDetail";
    Layout = "~/Views/Shared/_StudentDashboard.cshtml";
}




<section class="content">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Bank Details</h3>
        </div>
        <div class="box-body">
            <div class="alert bg-primary">
                <dl class="dl-horizontal">
                    <dt>ACCOUNT NAME:</dt>
                    <dd>EXWHYZEE TECHNOLOGIES LIMITED</dd>
                    <dt>BANK NAME:</dt>
                    <dd>UBA</dd>
                    <dt>ACCOUNT NUMBER: </dt>
                    <dd>1018822552</dd>
                </dl>
                <hr>
                <p>
                    <strong>NOTE:</strong> Please use your USERNAME(EMAIL) as Name of Depositor. After Payment send your receipt to 07087894399 for approval
                    <br /> If after 1 hour of sending your payment information and your subscription is not yet approved, Call our Support desk 07087894399 for your subscription to be approved.
                </p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

