
    <aside class="bg-cover counter-aside" style="background-image: url('../../Content/main-iskool/tag.jpg');">
        <div class="container align-wrap">
            <div class="align">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col">
                        <h2 class="counter-aside-heading">
                            <strong class="counter countdown element-block">@ViewBag.T</strong>
                            <strong class="text element-block">+ Topics</strong>
                        </h2>
                    </div>
                    <div class="col-xs-12 col-sm-3 col">
                        <h2 class="counter-aside-heading">
                            <strong class="counter countdown element-block">@ViewBag.S</strong>
                            <strong class="text element-block">Subjects</strong>
                        </h2>
                    </div>
                    <div class="col-xs-12 col-sm-3 col">
                        <h2 class="counter-aside-heading">
                            <strong class="counter countdown element-block">@ViewBag.c</strong>
                            <strong class="text element-block">Classes</strong>
                        </h2>
                    </div>
                    <div class="col-xs-12 col-sm-3 col">
                        <h2 class="counter-aside-heading">
                            <strong class="counter countdown element-block">@ViewBag.A</strong>
                            <strong class="text element-block">+ Answered Question</strong>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </aside>
