@model Exwhyzee.ESS.Models.Profile.StudentModel

<div class="user-panel">
    <div class="pull-left image">

       
            @if (Model.Picture != null)
            {

                <img src="@Url.Content(Model.Picture)" class="img-circle img-responsive" />

            }
            else
            {
                <img src="http://v1.exwhyzee.ng/admin/dist/img/avatar5.jpg" class="img-circle img-responsive" />
            }

        </div>
    <div class="pull-left info">
        <p>
            @User.Identity.Name

        </p>

        <p style="text-wrap:normal;">

            <span>(Student)</span>

        </p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>