<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>E-Library || ISkools.com</title>

    <!-- Css Files -->
    <link href="~/Content/e-layout/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/e-layout/css/flaticon.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/e-layout/css/slick-slider.css" rel="stylesheet">
    <link href="~/Content/e-layout/css/fancybox.css" rel="stylesheet">
    <link href="~/Content/e-layout/css/style.css" rel="stylesheet">
    <link href="~/Content/e-layout/css/color.css" rel="stylesheet">
    <link href="~/Content/e-layout/css/responsive.css" rel="stylesheet">

    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }

        .theme-default .nivoSlider {
            margin-bottom: 0 !important;
        }

        /*.ereaders-work-learnfull {
            background-image: url(../../../../Content/e-layout/images/how-to-workimg.png);
        }*/
    </style>
    @*<script type="text/javascript" charset="UTF-8" src="~/Content/e-layout/js/common.js"></script>
        <script type="text/javascript" charset="UTF-8" src="~/Content/e-layout/js/util.js"></script>*@
</head>
<body class="js ereaders-sticky">
    <div style="position:fixed;top:0px;left:0px;width:0;height:0;" id="scrollzipPoint"></div>

    <!--// Main Wrapper \\-->
    <div class="ereaders-main-wrapper">

        <link rel="stylesheet" href="~/Content/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/dark/dark.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/nivo-slider/demo/style.css" type="text/css" media="screen" />

        <section class="slider-container">
            <div class="slider-wrapper theme-default">

                <div id="slider" class="nivoSlider">

                    <img src="~/Content/s-images/Library main.jpg" data-thumb="Content/s-images/Library main.jpg" alt="" />

                </div>
            </div>
        </section>
        <div class="ereaders-main-content ereaders-content-padding">

            <!--// Main Section \\-->
            <div class="ereaders-main-section ereaders-counterfull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="ereaders-counter">
                                <ul>
                                    <li>
                                        <div class="ereaders-counter-text">
                                            <i class="fa fa-users"></i>
                                            <div class="ereaders-scroller"><h2 class="numscroller roller-title-number-1 scrollzip isShown" data-slno="1" data-min="0" data-max="1200" data-delay="10" data-increment="9">1200</h2> <span>Readers</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ereaders-counter-text">
                                            <i class="fa fa-music"></i>
                                            <div class="ereaders-scroller"><h2 class="numscroller roller-title-number-2 scrollzip isShown" data-slno="2" data-min="0" data-max="45" data-delay="10" data-increment="9">45</h2> <span>Audio Books</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ereaders-counter-text">
                                            <i class="fa fa-book"></i>
                                            <div class="ereaders-scroller"><h2 class="numscroller roller-title-number-3 scrollzip isShown" data-slno="3" data-min="0" data-max="3550" data-delay="10" data-increment="9">3550</h2> <span>Books</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <div class="ereaders-main-section ereaders-work-learnfull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <div class="ereaders-work-learn">
                                <h2>Learn <span>how to read</span> any where and any time in the world</h2>
                                <p>
                                    Learning to read is the acquisition and practice of the skills necessary to understand the meaning behind printed words.
                                </p><p>
                                    For a fairly good reader, the skill of reading often feels simple, effortless, and automatic; however, the process of learning to read is complex and builds on cognitive, linguistic, and social skills developed from a very early age
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <div class="ereaders-main-section ereaders-service-gridfull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="ereaders-fancy-title">
                                <h2>Our Featured E-Library</h2>
                                <div class="clearfix"></div>
                            </div>

                           
                            <div class="ereaders-service ereaders-service-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <div class="ereaders-service-grid-text">
                                            <i class="fa fa-address-book"></i>
                                            <h5><a href="#">1.No physical boundary</a></h5>
                                            <p>Our School library need not to go to the library physically; people from all over the world can gain access to the same information, as long as an Internet connection is available.<br /><br /></p>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="ereaders-service-grid-text">
                                            <i class="fa fa-clock-o"></i>
                                            <h5><a href="">2.Round the clock availability</a></h5>
                                            <p>A major advantage of digital libraries is that people can gain access 24/7 to the information<br /><br /><br /></p>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="ereaders-service-grid-text">
                                            <i class="fa fa-address-book"></i>
                                            <h5><a href="#">3.Multiple access</a></h5>
                                            <p>The same resources can be used simultaneously by a number of institutions and patrons. This may not be the case for copyrighted material: a library may have a license for "lending out" only one copy at a time.</p>
                                        </div>
                                    </li>
                                    </ul>
                                    <ul class="row">
                                        <li class="col-md-4">
                                            <div class="ereaders-service-grid-text">
                                                <i class="fa fa-info-circle"></i>
                                                <h5><a href="#">4.Information retrieval</a></h5>
                                                <p>The user is able to use any search term (word, phrase, title, name, subject) to search the entire collection. Digital libraries can provide very user-friendly interfaces, giving click able access to its resources<br /><br /><br /></p>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <div class="ereaders-service-grid-text">
                                                <i class="fa fa-address-book"></i>
                                                <h5><a href="#">5.Preservation and conservation</a></h5>
                                                <p>Digitization is not a long-term preservation solution for physical collections, but does succeed in providing access copies for materials that would otherwise fall to degradation from repeated use.<br /><br /></p>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <div class="ereaders-service-grid-text">
                                                <i class="fa fa-user"></i>
                                                <h5><a href="#">6.Bibliographic Service</a></h5>
                                                <p>Compilation of bibliographies, reading lists and state of the art reports is one of the most important aspects of LIS work, particularly in research and academic libraries. Browsing through the manual indexes and abstracts is a tedious and time consuming work, and does not always produce up-to-date result.</p>
                                            </div>
                                        </li>
                                    </ul>
</div>
                        </div>

                    </div>
                </div>
            </div>
    
            <div class="ereaders-main-section ereaders-app-sectionfull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="ereaders-fancy-title">
                                <h2>Read It In All Devices</h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="ereaders-app-text">
                                <h5>Our E-Library offers our students and staff books which can be accessed from their various devices at anytime.</h5>
                                <p>
                                    Our eLibrary now has a built-in eReader that launches automatically whenever anybook is opened. The eReader offers a confortable reading experience, and is optimized for use on mobile devices.</p>
                              
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ereaders-app-thumb"><img src="~/Content/s-images/app-thumb edited.jpg" alt=""></div>
                        </div>

                    </div>
                </div>
            </div>
          

        </div>

        <div class="clearfix"></div>

    </div>
  
    <script src="~/Content/Assest/js/jquery-2.1.4.min.js"></script>
    @RenderBody()
    <script type="text/javascript" src="~/Content/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        //$(window).load(function () {
        //    $('#slider').nivoSlider();


        //});
        $(window).load(function () {
            $('#slider').nivoSlider({

                animSpeed: 4000,                   // Slide transition speed
                pauseTime: 9000,                  // How long each slide will show
                controlNav: false,                // 1,2,3... navigation

            });
        });
    </script>
</body>
</html>